@model IEnumerable<TOPOS.Models.Orders>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customers.NameSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Where(o => o.StatusType != TOPOS.Models.Enums.StatusType.End))
{
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Customers.NameSurname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Customers.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StatusType)
    </td>
    @if ((TOPOS.Models.Enums.LoginType)Session["LoginType"] != TOPOS.Models.Enums.LoginType.Customer)
    {
            <td>
                @Html.ActionLink("View Details", "Orderdetails", new { id = item.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Edit Status", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Complete", "Complete", new { id = item.Id }, new { @class = "btn btn-success", })
            </td>
    }
    else
    {
            <td>
                @Html.ActionLink("View Details", "Orderdetails", new { id = item.Id }, new { @class = "btn btn-primary" })
            </td>

    }
    </tr>
}
</table>
